body {
    margin: 0;
    font-family: 'Value Sans Pro';
}

.container {
    margin: 0 auto;
    /* width: 540px; */

    
}



/* ---Header--- */
.header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.topHeader {
    width: 100%;
    background-color: #274646;
    
}


.topMain {
    display: flex;
    justify-content: space-between;
    height: 54px;
}

.topMain-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.topMain-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26.61px;

}

.topMain-left__hamburger {
    background: none;
    border: none;
    cursor: pointer;
}

/* .topMain-left__hamburger-image {
}

.topMain-left__logo {
} */

.topMain-left__logo-image {
    width: 100%;
    height: auto;
}

.topMain-left__phone {
    font-size: 14px;
    color: #A0A0A0;
    /* margin-right: 26.53px; */
    text-decoration: none;
}

.topMain-left__locationAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 8.53px;
}

.topMain-left__locationAdd-image {
    width: 12.94px;
    height: 15px;
    /* margin-right: 8.53px; */
}

.topMain-left__locationAdd-address {
    color: #FFE091;
    font-size: 14px;
}

.topMain-right__shimingi {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 8.69px;
}

.topMain-right__shimingi-image {
    width: 100%;
    height: auto;
}

.topMain-right__shimingi-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFBDC8;
}

.topMain-right__shoppingBag {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 11.8px;
}

.topMain-right__shoppingBag:last-child {
    gap: 0px;
}

.topMain-right__shoppingBag-image {
    width: 18px;
    height: 18px;
}

.topMain-right__shoppingBag-amount {
    display: flex;
    padding: 0 3px;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    background-color: #B20D30;
    border-radius: 10px;
    min-width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
}

.topMain-right__shoppingBag-price {
    margin-left: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.topMain-right__shoppingBag-price::after {
    content: ' ₽';
}

/* .mainHeader {
} */

.middleMain {
    background-color: #fff;
    padding: 16px 0;
}

.middleMain-item {
    margin-right: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #274646;
    padding-bottom: 16px;
    text-decoration: none;
}

.middleMain-item:hover {
    border-bottom: 3px solid #274646;

}

.middleMain-hr {
    margin: 0 0 8px 0;
    border: 1px solid #E5E5E5;
}

.bottomMain {
    padding: 16px 0 24px 0;
}

.bottomMain-item {
    margin: 0 16px 0 0;
    padding: 12px 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #6B6B6B;
    text-decoration: none;
    border: 1px solid #E5E5E5;
    border-radius: 25px;
}

.bottomMain-item:hover {
    color: #274646;
    background: #E9E6E6;
}


/* Containers */
@media (max-width: 576px){
    .container {
        max-width: 540px;
    }
}
@media (min-width:577px) and (max-width: 768px) {
    .container {
        /* max-width: 720px; */
        max-width: calc(100% - 48px);
    }
}
@media (min-width:769px) and (max-width: 992px) {
    .container {
        /* max-width: 960px; */
        max-width: calc(100% - 32px);
    }
}
@media (min-width:993px) and (max-width: 1200px) {
    .container {
        /* max-width: 1140px; */
        max-width: calc(100% - 60px);
    }
}
@media (min-width:1201px) and (max-width: 1400px) {
    .container {
        /* max-width: 1320px; */
        max-width: calc(100% - 80px);
    }
}
@media (min-width:1401px) {
    .container {
        /* max-width: 1320px; */
        width: 1320px;
    }
}