body {
    margin: 0;
    font-family: 'Value Sans Pro';
}

.container {
    margin: 0 auto;
    width: auto;
}



/* ---Header begin--- */
.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    z-index: 100;
}

.top {
    width: 100%;
    background-color: #274646;
    
}

.main {
    display: flex;
    justify-content: space-between;
    height: 54px;
}

.main-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    width: 100%;
}

.main-right {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 26.61px;

}

/* .main-left__hamburger-image {
} */

.main-left__logo {
    display: flex;
    gap: 22px;
}

.main-left__logo-hamburger {
    background: none;
    border: none;
    cursor: pointer;
}

/* .main-left__logo-icon img {
} */

.main-left__logo-icon__big {
    display: none;
    width: 100%;
    height: auto;
}

.main-left__logo-icon__mini {
    display: block;
    width: 100%;
    height: auto;
}

.main-left__phone {
    display: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #A0A0A0;
    text-decoration: none;
}

.main-left__locationAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 8.53px;
    padding-left: 6px;
}

.main-left__locationAdd-image {
    width: 12.94px;
    height: 15px;
}

.main-left__locationAdd-address {
    color: #FFE091;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.main-right__shimingi {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 8.69px;
}

.main-right__shimingi-image {
    width: 100%;
    height: auto;
}

.main-right__shimingi-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFBDC8;
}

.main-right__shoppingBag {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 11.8px;
}

.main-right__shoppingBag:last-child {
    gap: 0px;
}

.main-right__shoppingBag-image {
    width: 18px;
    height: 18px;
}

.main-right__shoppingBag-amount {
    display: flex;
    padding: 0 3px;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    background-color: #B20D30;
    border-radius: 10px;
    min-width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
}

.main-right__shoppingBag-price {
    margin-left: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.main-right__shoppingBag-price::after {
    content: ' ₽';
}

/* .navigation {
} */

.middle {
    display: flex;
    justify-content: start;
    align-items: end;
    flex-wrap: nowrap;
    gap: 49px;
    height: 48px;
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
    padding-left: 16px;
}

.middle::-webkit-scrollbar {
    display: none;
}

.middle-item {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #274646;
    padding-bottom: 13px;
    text-decoration: none;
    white-space: nowrap;
    border-bottom: 3px solid #fff;
}

.middle-item:hover {
    border-bottom: 3px solid #274646;

}

.middle-hr {
    display: flex;
    border: 1px solid #E5E5E5;
}

.bottom {
    display: none;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    height: 56px;
    gap: 17px;
    overflow: auto;
    white-space: nowrap;
    background-color: #FFFFFF;
    padding-left: 16px;
}

.bottom::-webkit-scrollbar {
    display: none;
}

.bottom-item {
    padding: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #6B6B6B;
    text-decoration: none;
    border: 1px solid #E5E5E5;
    border-radius: 25px;
}

.bottom-item:hover {
    color: #274646;
    background: #E9E6E6;
}

.middle:hover~.bottom {
    display: flex;
}

main {
    margin-top: 120px;
}
/* ---Header end--- */



/* ---Popular begin--- */
.popular {
    margin-top: 174px;
}

.popular-items {
    display: flex;
    flex-wrap: nowrap;
    gap: 17px;
    overflow: auto;
}

.popular-item {
    height: 276px;
    min-width: 152px;
    margin-bottom: 34px;
    overflow: hidden;
    border-radius: 16px;
    border: 2px solid #FFBEC9;
    padding: 2px;
}

/* scroll bar begin */
.popular-items::-webkit-scrollbar {
    height: 2px;
}
.popular-items::-webkit-scrollbar-thumb:hover {
    background: #5f5f5f; 
}
.popular-items::-webkit-scrollbar-thumb {
    background: #A0A0A0; 
}
.popular-items::-webkit-scrollbar-track {
    background: #E5E5E5; 
}
/* scroll bar end */

.popular-item__image {
    width: auto;
    height: 100%;
}

.scrolltop {
    display: flex;
    margin: 0;
    gap: 176px;
    background: linear-gradient(0deg, #F293A2 -0.01%, #F7BDC7 99.99%);
    margin: 48px 0 64px 0;
    overflow: hidden;
}

.scrolltop-text {
    margin: 0;
    font-family: 'Rimma_sans';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    color: #FFD8E1;
    padding-bottom: 20.5px;
    text-transform: uppercase;
    animation: scrolltop 3s  linear infinite;
    
}

@keyframes scrolltop {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-533.766px);
    }
}
/* ---Popular end--- */




/* Containers begin */
@media (max-width: 575px) {
    .container {
        padding: 0 0.75rem;
    }

    .popular {
        margin-top: 190px;
    }

    .popular-item {
        margin-bottom: 34px;
    }

    .scrolltop {
        margin: 36px 0 64px 0;
    }

    .scrolltop-text {
        font-size: 60px;
        
    }

    @keyframes scrolltop {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-444.320px);
        }
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .main-right {
        display: flex;
    }

    .main-left {
        justify-content: center;
        gap: 22px;
        width: auto;
    }

    .main-left__logo-icon__big {
        display: block;
    }

    .main-left__logo-icon__mini {
        display: none;
    }

    .middle {
        padding-left: 12px;
    }

    .bottom {
        padding-left: 17px;
    }

    .popular-items {
        padding-left: 19px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .main-left__phone {
        display: block;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .main-left {
        padding-left: 17px;
    }

    .middle {
        gap: 48px;
    }

    .bottom {
        padding-left: 11px;
    }
    
}

@media (min-width:1400px) {
    .container {
        max-width: 1320px;
    }

    .main-left {
        padding-left: 0;
    }

    .popular-items {
        padding-left: 0px;
    }
}
/* Containers end */



/* Fonts begin */
@font-face {
    font-family: 'Value Sans Pro';
    src: url('ValueSansPro-Regular.eot');
    src: 
        url('../styles/fonts/ValueSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../styles/fonts/ValueSansPro-Regular.woff2') format('woff2'),
        url('../styles/fonts/ValueSansPro-Regular.woff') format('woff'),
        url('../styles/fonts/ValueSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Value Sans Pro';
    src: url('ValueSansPro-MediumItalic.eot');
    src: 
        url('../styles/fonts/ValueSansPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../styles/fonts/ValueSansPro-MediumItalic.woff2') format('woff2'),
        url('../styles/fonts/ValueSansPro-MediumItalic.woff') format('woff'),
        url('../styles/fonts/ValueSansPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Value Sans Pro';
    src: url('ValueSansPro-Italic.eot');
    src: 
        url('../styles/fonts/ValueSansPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../styles/fonts/ValueSansPro-Italic.woff2') format('woff2'),
        url('../styles/fonts/ValueSansPro-Italic.woff') format('woff'),
        url('../styles/fonts/ValueSansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Value Sans Pro';
    src: url('ValueSansPro-Bold.eot');
    src: 
        url('../styles/fonts/ValueSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../styles/fonts/ValueSansPro-Bold.woff2') format('woff2'),
        url('../styles/fonts/ValueSansPro-Bold.woff') format('woff'),
        url('../styles/fonts/ValueSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Value Sans Pro';
    src: url('ValueSansPro-BlackItalic.eot');
    src: 
        url('../styles/fonts/ValueSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../styles/fonts/ValueSansPro-BlackItalic.woff2') format('woff2'),
        url('../styles/fonts/ValueSansPro-BlackItalic.woff') format('woff'),
        url('../styles/fonts/ValueSansPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Value Sans Pro';
    src: url('ValueSansPro-Black.eot');
    src: 
        url('../styles/fonts/ValueSansPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../styles/fonts/ValueSansPro-Black.woff2') format('woff2'),
        url('../styles/fonts/ValueSansPro-Black.woff') format('woff'),
        url('../styles/fonts/ValueSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Value Sans Pro';
    src: url('ValueSansPro-Medium.eot');
    src: 
        url('../styles/fonts/ValueSansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../styles/fonts/ValueSansPro-Medium.woff2') format('woff2'),
        url('../styles/fonts/ValueSansPro-Medium.woff') format('woff'),
        url('../styles/fonts/ValueSansPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Value Sans Pro';
    src: url('ValueSansPro-BoldItalic.eot');
    src: 
        url('../styles/fonts/ValueSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../styles/fonts/ValueSansPro-BoldItalic.woff2') format('woff2'),
        url('../styles/fonts/ValueSansPro-BoldItalic.woff') format('woff'),
        url('../styles/fonts/ValueSansPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rimma_sans';
    src: url('../styles/fonts/rimma-sans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Fonts end */